.selected-list__view__label{
    display: flex;
    justify-content: space-between;
    transition-duration: 0.2s;
}

.selected-list__view__btn{
    padding: 0.5em 1.5em;

    font-size: 1.1em;

    border: 2px solid #d43c38;

    transition-duration: 0.2s;

    cursor: pointer;
    background-color: rgb(59, 17, 16);
    color: white;

    display: flex;
    justify-content: space-between;
}

.selected-list__view__content{
    display: none;
    flex-direction: column;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.selected-list__view:hover .selected-list__view__content{
    display: flex;
}
